
.yToolbar
{
}
TABLE.Toolbar
{
	BACKGROUND-IMAGE: URL(toolbarbg.gif);
	HEIGHT: 26px;
}
TABLE.Toolbar TD
{
	BACKGROUND-IMAGE: URL(toolbarright.gif);
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION:RIGHT;
	padding-right:4px;
	HEIGHT: 26px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
}
TABLE.Toolbar TR
{
	BACKGROUND-IMAGE: URL(toolbarleft.gif);
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION:left;
	padding-left:4px;
	HEIGHT: 26px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
}
.Btn
{
	HEIGHT: 20px;
	POSITION: absolute;
	TOP: 2px;
	WIDTH: 20px;
}
.TBSep
{
	BORDER-LEFT: #999999 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	FONT-SIZE: 0px;
	HEIGHT: 15px;
	POSITION: absolute;
	TOP: 4px;
	WIDTH:1px
}
.TBGen
{
	FONT: 8pt arial,sans-serif;
	HEIGHT: 20px;
	POSITION: absolute;
	TOP: 2px
}
.TBHandle
{
	BACKGROUND-IMAGE: URL(tbhandle.gif);
	FONT-SIZE: 1px;
	HEIGHT: 15px;
	POSITION: absolute;
	TOP: 4px;
	left:0px;
	WIDTH: 3px
}
.Ico
{
	HEIGHT: 20px;
	LEFT: -1px;
	POSITION: absolute;
	TOP: -1px;
	WIDTH: 20px
}
.BtnMouseOverUp
{
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM: #999999	1px solid;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP:	#FFFFFF	1px solid;
	HEIGHT: 21px;
	POSITION: absolute;
	TOP: 1px;
	WIDTH: 21px
}
.BtnMouseOverDown
{
	BACKGROUND-COLOR: #EFEFEF;
	BORDER-BOTTOM: #FFFFFF 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-TOP:	#999999 1px solid;
	HEIGHT: 21px;
	POSITION: absolute;
	TOP: 1px;
	WIDTH: 21px
}
.BtnDown
{
	BACKGROUND-COLOR: #DCDCDC;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP:	#999999 1px solid;
	HEIGHT: 21px;
	POSITION: absolute;
	TOP: 1px;
	WIDTH: 21px
}
.IcoDown
{
	HEIGHT: 21px;
	LEFT: 0px;
	POSITION: absolute;
	TOP: 0px;
	WIDTH: 21px
}
.IcoDownPressed
{
	LEFT: 1px;
	POSITION: absolute;
	TOP: 1px
}

BODY
{
	BACKGROUND-COLOR:#ffffff;
	MARGIN: 0px;
	PADDING: 2px;
}
SELECT
{
    BACKGROUND: #eeeeee;
    FONT: 8pt verdana,arial,sans-serif
}
TABLE
{
    POSITION: relative
}
.Composition
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM: #999999 1px solid;
	  BORDER-LEFT: #999999 1px solid;
	  BORDER-RIGHT: #999999 1px solid;
	  BORDER-TOP:	#999999 0px solid;
	  font: 12px Tahoma, Verdana;
    POSITION: relative
}



.ContextMenuDiv {	border-top:buttonface 1px solid;border-left:buttonface 1px solid;border-bottom:windowframe 1px solid;border-right:windowframe 1px solid;}
.ContextMenuTable {	border-top:window 1px solid;border-left:window 1px solid;border-bottom:buttonshadow 1px solid;border-right:buttonshadow 1px solid;}
.ContextMenuMouseOver {background-color:highlight;color:highlighttext;font-size: 12px;cursor:default;font-size: 12px;}
.ContextMenuMouseOut {background-color:buttonface;color:buttontext;font-size: 12px;cursor:default;font-size: 12px;}
.ContextMenuLeftBg {background-color:#0072BC}



TABLE.StatusBar
{
	BORDER-RIGHT: #999999 0px solid;
	BORDER-BOTTOM: #999999	1px solid;
	BACKGROUND-COLOR: #FFFFFF;
}

TD.StatusBarBtnOff {
padding:1px 5px;
  BORDER-BOTTOM: #ffffff 0px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP:	#999999 1px solid;
cursor:pointer;}
TD.StatusBarBtnOn {
  padding:5px 5px;
  BORDER-BOTTOM: #ffffff 0px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP:	#999999 1px solid;
	font-weight: bold;
  background-color: #eeeeee;
  }